* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#index_hemsidan {
    display: grid;
    grid-template-areas: 'nai' 'hei' 'pui' 'kii' 'bui' 'foi';
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
    width: 100vw;
    height: 300vh;
}

nav {
    display: flex;
    justify-content: space-between;
    background: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.links_to_delhemsidor {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.title_to_index_header {
    text-align: center;
}

.index_sections_h2 {
    text-align: center;
    position: relative;
    padding-top: 20px;
}

.djurungar_title {
    text-align: center;
}

.cred_rubrik {
    text-align: center;
}

.cred_list {
    text-align: center;
}

.rubrik_till_om_oss {
    text-align: center;
}

.information_inner_div {
    text-align: center;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .rubrik {
        text-align: center;
        padding-top: 0;
    }

    .title_to_index_header {
        padding-top: 90px;
        position: relative;
    }

    .container_for_index_section {
        display: flex;
        flex-direction: row;
        padding: 20px 5px 5px;
    }
    
    .index_inner_div {
        flex: 0 0 calc(50% - 1px);
        width: 40vw;
        height: 40vh;
    }

    .cred_rubrik {
        padding-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    #index_hemsidan {
        grid-template-rows: 10% 10% 25% 25% 25% 5%;
        width: 100vw;
        height: 300vh;
    }
    .burger {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        display: block;
        top: 0;
        right: 0;
        text-align: center;
    }

    .links_to_delhemsidor {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .links_to_delhemsidor li {
        text-align: center;
        padding: 40px;
        border-bottom: 1px solid;
    }

    .title_to_index_header {
        text-align: center;
        margin-top: 20px;
    }

    .burger div {
        width: 50px;
        height: 10px;
        background-color: black;
        border-radius: 10px;
        margin: 5px 0px;
        cursor: pointer;
    }
    .show{
        display: block;
        left: 0;
    }
    .burger.visible{
        display: block;
    }
    .navbar{
        height: 100vh;
        width: 50vw;
        position: fixed;
        top: 0;
        right: -90vw;
        transition: left 0.3s;
        z-index: 10;
        overflow: hidden;
    }

    .container_for_index_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 10px 10px;
    }

    #kittens_section_text {
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    #bunnies_section_text {
        padding-left: 30px;
        padding-right: 30px;
        box-sizing: border-box;
    }

    #kittens_section_img {
        height: 400px;
        width: 400px;
    }
    
    #bunnies_section_img {
        height: 400px;
        width: 400px;
    }

    .index_sections_h2 {
        text-align: center;
        position: relative;
    }
    .cred_rubrik {
        padding-top: 10px;
    }
}

.rubrik {
    text-align: center;
}

.container_for_index_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 20px 20px;
}

#nav_for_index {
    grid-area: nai;
    border-top: hidden;
}

.header_for_index {
    grid-area: hei;
    background: white;
    border-bottom: 3px dotted gray;
    border-top: 3px dotted gray;
}

.puppies {
    grid-area: pui;
    background: white;
    border-bottom: 3px dotted gray;
}

.kittens {
    grid-area: kii;
    background: white;
    border-bottom: 3px dotted gray;
}

.bunnies {
    grid-area: bui;
    background: white;
    border-bottom: 3px dotted gray;
}

.footer_for_index {
    grid-area: foi;
}

img {
    max-height: 100%;
    max-width: 100%;
}

#puppies_section_img {
    height: 200px;
    width: 200px;
}

#kittens_section_img {
    height: 200px;
    width: 200px;
}

#bunnies_section_img {
    height: 200px;
    width: 200px;
}


#om_oss_hemsidan {
    display: grid;
    grid-template-areas: 'nao' 'heo' 'ino' 'pio' 'cro' 'foo';
    grid-template-columns: 100%;
    grid-template-rows: 10% 25% 25% 10% 20% 10%;
    width: 100vw;
    height: 200vh;
}

#nav_for_om_oss {
    grid-area: nao;
}

.header_for_om_oss {
    grid-area: heo;
    background: yellowgreen;
}

.information {
    grid-area: ino;
    background: salmon;
}

.centered_text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.picture_for_om_oss {
    grid-area: pio;
    background: brown;
}

.cred {
    grid-area: cro;
    background: white;
}

.footer_for_om_oss {
    grid-area: foo;
    background: gray;
}

.logo {
    display: block;
    position: absolute;
    float: left;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
}